* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-variant: small-caps;
    box-sizing: border-box;
}

body {
    padding: 20px;
    text-align: center;
    background-color: white; 
    align-content: center;
}

#logo-container {
    height: 100px;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
}

.logo {
    margin-bottom: 2px;
    margin-top: 2px;
    
}

#intro-containter {
    height:125px;
    width:100%;
    border-bottom:3px solid;
    border-color: violet;
    
}

h1 {
    text-align: center;
    font:xx-large;
    font-weight:bolder;
    font-family: monospace;
    font-variant: small-caps;
    padding: 20px;
    
}

h2 {
    text-align: center;
    font-size: 2.0rem;
    font-weight:bolder;
    font-family: monospace;
    font-variant: small-caps;
    padding: 20px;
    width: 75%;
    border-right:2px solid violet;
}

#option-dropdown{
    font-family: monospace;
    font-variant: small-caps;
    font-size: larger;
    font-weight: bold;
}

#dropdown-label{
    font-family: monospace;
    font-variant: small-caps;
    font-size: larger;
    font-weight: bold;
}

.image-container {
    
    display: flex;
    justify-content:center;
    overflow-x:scroll;
    align-items: center;
    flex-direction: column;
    top: 0px;
    width: 75%;
    border-right:2px solid violet;
}

.image-card {
    width: 410px;
    border: 5px solid rgb(210, 180, 238);
    border-radius: 4px;
    text-align: left;
    background-color: floralwhite;
    display: block;
    margin: 8px;
    box-shadow: 0 6px 10px orchid;
}

.image {
    width: 400px;
}


.reaction-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.pinit {
    font-size: 0.9rem;
    font-family: monospace;
    font-variant: small-caps;
    font-weight: bolder;
    padding: 5px;
    background-color: #b3e4dc;
    border-radius: 4px;
    margin: 5px;
    opacity: 0.7;
}

.likes {
    font-size: 1.1rem;
    font-weight: 600;
}

.like-button {
    font-size: 2.0rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}

.dislike-button {
    font-size: 2.0rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}

.like-button:hover {
    color: rgb(241, 71, 19);
}

.like-button:active {
    color: rgb(253, 159, 124);
}

.like-button:focus {
    outline: none;
}


.comments {
    list-style-type: none;
    margin-left: 0;
    
    font-size: 1.3rem;
    align-content: center;
}

.comments li {
    margin: 0px;
    letter-spacing: 0.2px;
    align-content:center;
}

.comment-form {
    width: 100%;
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
}

.comment-input {
    width: 83%;
    border: none;
    font-size: 1.3rem;
}

.comment-input:focus {
    outline: none;
}

.comment-button {
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
}

.comment-button:hover {
    color: rgb(37, 68, 245);
}

.comment-button:active {
    color: rgb(127, 146, 250);
}

.comment-button:focus {
    outline: none;
} 

.sidebar {
    height: 60%;
    width: 20%;
    padding-top: 20px;
    top: 150px;
    margin-left: 10px;
    right: 0px;
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    float: right;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display:block;
} 

.sidebar div {
    padding: 8px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.sidebar img {
    height: 150px;
    max-width: 100%;
    margin-left:0px;
    margin-right: 0px;   
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    width:600px;
    height:auto;
    display:block;
    z-index:999;
}

#side-bar-title h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight:bolder;
    font-family:monospace;
    font-variant: small-caps;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 1.7rem;
    font-weight:bolder;
    font-family:monospace;
    font-variant: small-caps;
    padding: 20px;
    width: 75%;
    border-right:2px solid violet;
}
.footer div {
    height:250px;
    border-top:10px double;
    border-color: violet; 
    width: 75%;
    border-right:2px solid violet;
}
