* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 20px;
    text-align: center;
    background-color: floralwhite;
 
}

#logo-container {
    
    height: 200px;
    width: 300px;
    
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
}

.logo {
    margin-bottom: 10px;
    margin-top: 2px;
    
}

#intro-containter {
    height:200px;
    width:100%;
    border-bottom:5px double;
    border-color: palevioletred;
}

h1 {
    text-align: center;
    font:xx-large;
    font-weight:bolder;
    font-family: fantasy;
    padding: 20px;
}

#option-dropdown{
    font-family: fantasy;
    font-size: larger;
    font-weight: bold;
}

#dropdown-label{
    font-family: fantasy;
    font-size: larger;
    font-weight: bold;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content:center;
    overflow-x:scroll;
    align-items: center;
    flex-direction: column;
    
}

.image-card {
    width: 410px;
    border: 5px solid #00000020;
    border-radius: 2px;
    text-align: left;
    background-color: floralwhite;
    display: block;
    margin: auto;
}

.image {
    width: 400px;
    /* border: 3px solid black; */
}


.reaction-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.likes {
    font-size: 1.1rem;
    font-weight: 600;
}

.like-button {
    font-size: 2.0rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}

.dislike-button {
    font-size: 2.0rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}

.like-button:hover {
    color: rgb(241, 71, 19);
}

.like-button:active {
    color: rgb(253, 159, 124);
}

.like-button:focus {
    outline: none;
}


.comments {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 1.3rem;
    align-content: flex-start;
}

.comments li {
    margin: 2px 0;
    letter-spacing: 0.2px;
}

.comment-form {
    width: 100%;
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
}

.comment-input {
    width: 83%;
    border: none;
    font-size: 1.3rem;
}

.comment-input:focus {
    outline: none;
}

.comment-button {
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
}
  
  .comment-button:hover {
    color: rgb(37, 68, 245);
  }
  
  .comment-button:active {
    color: rgb(127, 146, 250);
  }
  
  .comment-button:focus {
    outline: none;
  }
